.env
__pycache__/
*.pyc
app-front/dist/
app-front/android/.gradle/
app-front/android/app/build/

/[Uu]nity_metaquest3/iot/[Ll]ibrary/
iot_metaquest3/iot/Library/
/[Uu]nity_metaquest3/iot/[Tt]emp/
/[Uu]nity_metaquest3/iot/[Oo]bj/
/[Uu]nity_metaquest3/iot/[Bb]uild/
/[Uu]nity_metaquest3/iot/[Ll]ogs/
/[Uu]nity_metaquest3/iot/[Uu]ser[Ss]ettings/
/[Uu]nity_metaquest3/iot/.utmp/

# Archivos de solución y VS Code
.vscode/
*.csproj
*.sln
*.userprefs

# Binarios y carpetas de depuración vistas en la imagen
/[Uu]nity_metaquest3/iot/*.apk
/[Uu]nity_metaquest3/iot/apk1_BackUpThisFolder_ButDontShipIt*/
/[Uu]nity_metaquest3/iot/iot_BurstDebugInformation_DoNotShip/

# Archivos del sistema
.DS_Store
Thumbs.db